import random
from random import randint
import datetime
current_date = datetime.datetime.today().strftime('%A %B %d, %Y')

print(current_date)

# Класс Food
class Food:
    def __init__(self, name, time_of_day):
        self.name = name
        self.time_of_day = time_of_day

meal = ['Овсянка', 'Манная каша']
meall = ['Мясо с овощами', 'Куринный бульен']
# Список блюд
meals_list = [
    (random.choice(meal), 'утрo.'),
    (random.choice(meall), 'вечер.'),
]

# Класс Meals
class Meals():
    def __init__(self):
        # Создаем объект класса Food для каждого блюда в списке
        self.food_list = []
        for name, time in meals_list:
            self.food_list.append(Food(name, time))

    # Функция plan выводит план питания на день
    def plan(self):
        today_time = datetime.datetime.today().time()

        # Выводим точное время дня
        print('Точное время дня:', today_time)

        # Проходимся по списку блюд
        for meal in self.food_list:
            # Выводим название блюда и время его приема
            print(f"{meal.name} на {meal.time_of_day}")


if __name__ == '__main__':
    meals = Meals()
    meals.plan()
